
<h1>Personajes del Mundo de Harry Potters</h1>

    <% @personajes.each do |p| %>
        <h5><%= p.name %></h5>
        <p>Ubicación: <%= p.location %></p>
        <p><%= p.house %></p>
    <% end%>
