<h1>Personajes del Mundo de Harry Potters</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @personajes.each do |p| %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= p.name %></h5>
                    <p class="card-text">Ubicación: <%= p.location %></p>
                    <p class="card-text"><small class="text-body-secondary"><%= p.house %></small></p>
                </div>
            </div>
        </div>
    <% end%>
</div>

